
<!-- 
  Substituido do div: 
  
    (click)="like()"  
    (keyup.enter)="like()" 

  ...pela diretiva criada (appAction). Dessa forma, os eventos
  do keyup e do click dispararão o "like()"
-->
<div class="like-widget-container"
  (appAction)="like()"
>
  <fa-icon
    role="button"
    tabindex="0"
    [attr.aria-describedby]="id"
    size="1x"
    [icon]="fonts.faThumbsUp">
  </fa-icon>
  <span
    [attr.id]="id"
    [attr.aria-label]="likes + ': people liked'"
    class="like-counter"
    aria-live="true"
    aria-atomic="true">
    {{ likes }}
  </span>
</div>
